body {
margin: 0;
padding: 0;
text-decoration: none;
list-style: none; 
background-color: #477892;
max-width: max-content;
}

img {
    width: 20%;
    height: 40%;
    
}


#navBar {
    background-color: #6c9fbb;
    font-family: Calibri;
    text-align: start;
    padding: 5px;
    position: relative;
    margin-bottom: 50px;
}

#TopPreviousButton {
    border: 2%;
}

#TopPreviousNextButton {
    border: 2%;
    text-align: end;
}

#BottomPreviousButton {
    border: 2%;
}

#BottomNextButton {
    border: 2%;
    text-align: end;
}

.buttons {
    text-align: center;
}

#loading {
    opacity: 1;
    position: relative;
    top: 400px;
    left: 800px;
    color: #fff;
    text-align: center;
    font-size: 75px;

    /* Animation to cause loading screen fade in and out*/
    animation: fadeInOut ease-in-out 5s 1s;
}

/*Set key points within the duration of the animation, in which specificed rules are carried out*/
@keyframes fadeInOut {
    0% {
        opacity:1;
    }

    20% {
        opacity: 0
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
      
    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

   100% {
    opacity: 1;
}
}


#allRecallsPosts {
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: large;
    padding: -300px;
    margin-left: 10%;
    margin-right: 10%;
}

.single-recall-post {
    border-color: solid black;
    border: 2%;
    margin-bottom: 20px;
    background-color: #6c9fbb;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 30px;
}

#states-dropdown {
    position: absolute;
    margin-left: 66%;
}

.recallContent {
    background-color: #81aec7;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.titleDiv {
    font-size: larger;
    font-weight: bolder;
}

#label {
    color: white;
}

#footer {
    background-color: #43687c;
}

@media screen and (max-width: 1000px) {


}


@media screen and (max-width: 600px) {
    #navBar {
    min-width: 10%;
    


    }
    
    
    
    #states-dropdown {
        
    }
}